In [15]:
import requests
import bs4
from bs4 import BeautifulSoup
import pandas as pd
import time
from tqdm import tqdm

In [16]:
URL = "https://www.indeed.com/jobs?q=data+scientist+%2420%2C000&l=New+York&start=10"

In [3]:
r = requests.get(URL)

soup = BeautifulSoup(r.text, 'html.parser')

jobs = soup.find_all(name='div', attrs={'class':"result"})

In [4]:
def extract_company_from_result(html):
    try:
        return html.find("span",{"class":"company"}).text
    except:
        return None

In [5]:
def extract_salary_from_result(html):
    try:
        return html.find("span",{"class":"no-wrap"}).text
    except:
        return None

In [6]:
def extract_location_from_result(html):   
    try:
        return html.find("span",{'class':'location'}).text
    except:
        return None

In [7]:
def extract_job_from_result(html):
    try:
        return html.find("a").text
    except:
        return None

In [44]:
url_template = "https://www.indeed.com/jobs?q=data+scientist&1={}&start=10"
max_results_per_city = 2000
results = []

for city in ['New York','New Jersey']:
    for start in tqdm(range(0, max_results_per_city, 10)):
        r1 = requests.get(url_template.format(city,start))

        soup = BeautifulSoup(r1.text, 'html.parser')

        jobs = soup.find_all(name='div', attrs={'class':"result"}) # Grab the results from the request (as above)
        results.extend(jobs) # Append to the full set of results

100%|██████████| 200/200 [01:43<00:00,  1.93it/s]
100%|██████████| 200/200 [01:49<00:00,  1.82it/s]

In [45]:
df = pd.DataFrame({"job_title":extract_job_from_result(result),"company":extract_company_from_result(result),"location":extract_location_from_result(result),"salary":extract_salary_from_result(result)} for result in results)

In [46]:
df.replace(to_replace="\n",value="",regex=True,inplace=True)
df.head(50)

,job_title,company,location,salary
0,Sr. Data Scientist/Machine Learning Engineer,aikiu,None,"$70,000 - $110,000 a year"
1,Data Scientist,Seen by Indeed,None,None
2,,Northrop Grumman,None,None
3,Data Scientist,Big Zeta,None,"$100,000 a year"
4,Data Scientist,ClearOne Advantage,None,"$70,000 - $80,000 a year"
5,Machine Learning Engineer,Triplebyte,None,"$150,000 - $250,000 a year"
6,Data Scientist,Global Fishing Watch,None,$45 - $65 an hour
7,Data Scientist (all levels),IAMUS Consulting,"Linthicum Heights, MD 21090",None
8,Data Science Analyst,Wakefern Food Corporation,"Edison, NJ 08837","$50,000 - $90,000 a year"
9,Senior Data Scientist,Bowery Farming,"New York, NY 10011 (Flatiron District area)",None
10,(Junior) Data Scientist - Supply Chain & Opera...,Penguin Random House LLC,"New York, NY 10019 (Midtown area)",None
11,Data Scientist,"FarmTogether, Inc.","New York, NY","$80,000 - $200,000 a year"
12,Data Scientist - 70447BR,AETNA,"New York, NY 10016 (Murray Hill area)",None
13,Biomedical Data Scientist/Bioinformatics,Aspira Labs,"Trumbull, CT 06611",None
14,Quantitative/Data Analyst Intern,KKI Capital,"New York, NY",None
15,Data Scientist,"Big Data Federation, Inc.","Santa Clara, CA 95050","$100,000 - $120,000 a year"
16,Freelance Data Scientist for an Award-Winning ...,Mixed In Key,"Miami, FL",None
17,Senior Data Scientist,TRANZACT,None,"$90,000 - $125,000 a year"
18,Data Scientist,Triplebyte,None,"$150,000 - $225,000 a year"
19,Sr. Data Scientist/Machine Learning Engineer,aikiu,None,"$70,000 - $110,000 a year"
20,Data Scientist,Seen by Indeed,None,None
21,Data Scientist,Global Fishing Watch,None,$45 - $65 an hour
22,Data Analyst,Sheetz,None,None
23,,Northrop Grumman,None,None
24,Data Scientist,Big Zeta,None,"$100,000 a year"
25,Machine Learning Engineer,Triplebyte,None,"$150,000 - $250,000 a year"
26,Data Scientist (all levels),IAMUS Consulting,"Linthicum Heights, MD 21090",None
27,Data Science Analyst,Wakefern Food Corporation,"Edison, NJ 08837","$50,000 - $90,000 a year"
28,Senior Data Scientist,Bowery Farming,"New York, NY 10011 (Flatiron District area)",None
29,(Junior) Data Scientist - Supply Chain & Opera...,Penguin Random House LLC,"New York, NY 10019 (Midtown area)",None
30,Data Scientist,"FarmTogether, Inc.","New York, NY","$80,000 - $200,000 a year"
31,Data Scientist - 70447BR,AETNA,"New York, NY 10016 (Murray Hill area)",None
32,Biomedical Data Scientist/Bioinformatics,Aspira Labs,"Trumbull, CT 06611",None
33,Quantitative/Data Analyst Intern,KKI Capital,"New York, NY",None
34,Data Scientist,"Big Data Federation, Inc.","Santa Clara, CA 95050","$100,000 - $120,000 a year"
35,Freelance Data Scientist for an Award-Winning ...,Mixed In Key,"Miami, FL",None
36,Data Scientist,ClearOne Advantage,None,"$70,000 - $80,000 a year"
37,Data Scientist,Triplebyte,None,"$150,000 - $225,000 a year"
38,Sr. Data Scientist/Machine Learning Engineer,aikiu,None,"$70,000 - $110,000 a year"
39,Data Scientist,Seen by Indeed,None,None
40,Data Scientist,Global Fishing Watch,None,$45 - $65 an hour
41,Data Analyst,Sheetz,None,None
42,,Northrop Grumman,None,None
43,Data Scientist,Big Zeta,None,"$100,000 a year"
44,Machine Learning Engineer,Triplebyte,None,"$150,000 - $250,000 a year"
45,Data Scientist Entry Level - Pathrise Recruiti...,Pathrise,Remote,None
46,Data Scientist,"Two Sigma Investments, LLC.","New York, NY",None
47,Data Scientist,The College Board,"Reston, VA 20190 (Sunset Hills area)",None
48,Data Scientist I - Remote,HMS Health Management Systems,"Irving, TX",$50 an hour
49,Lead Data Scientist,CPNET,"Harrisburg, PA","$85,000 - $95,000 a year"

AttributeError: 'list' object has no attribute 'head'